@import "tailwindcss";

@theme inline {
  --color-background: #FFFFFF;
  --color-foreground: #000000;

  --color-brand-red: #FF0000;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  --color-brand-green: #90EE90;
  /* Light Green */
  --color-brand-darkgreen: #008000;
  /* For Green underlines */
  --color-brand-gray: #777777;
  --color-brand-border: #90EE90;
  /* Light green outline */

  --font-sans: var(--font-inter), var(--font-noto-malayalam), sans-serif;
  --font-serif: var(--font-lora), var(--font-noto-malayalam), serif;
}

/* Base resets & styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100vw;
}

/* Text selections */
::selection {
  background-color: var(--color-brand-red);
  color: var(--color-brand-white);
}

@keyframes scrollx {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollx {
  animation: scrollx 20s linear infinite;
}

.animate-scrollx:hover {
  animation-play-state: paused;
}

.mask-edges {
  mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}